html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

@keyframes crown1-loading {
  0% {
    visibility: visible;
  }
  12% {
    transform: rotateY(720deg) translateY(-15rem);
  }
  50% {
    transform: rotateY(1440deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes crown2-loading {
  0% {
    visibility: visible;
  }
  15% {
    transform: rotateY(720deg) translateY(-15rem);
  }
  50% {
    transform: rotateY(1440deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes crown3-loading {
  0% {
    visibility: visible;
  }
  20% {
    transform: rotateY(720deg) translateY(-15rem);
  }
  50% {
    transform: rotateY(1440deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes crown4-loading {
  0% {
    visibility: visible;
  }
  25% {
    transform: rotateY(720deg) translateY(-15rem);
  }
  50% {
    transform: rotateY(1440deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes crown5-loading {
  0% {
    visibility: visible;
  }
  30% {
    transform: rotateY(720deg) translateY(-15rem);
  }
  50% {
    transform: rotateY(1440deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes body-loading {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-image: url(img/blackfabricbackground.jpg);
}

.header-background {
  background-image: url(img/Repeating_Lemon.jpg);
  height: 10%;
  animation: 9s ease-in 0s 1 body-loading;
}

.site-title {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  font-weight: 900;
  color: black;
  position: relative;
  top: 25%;
  text-align: center;
}

.gallery {
  margin: 0 auto;
  margin-top: 2rem;
  background-color: rgb(223, 211, 211);
  border-radius: 2rem;
  width: 80vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  animation: 9s ease-in 0s 1 body-loading;
}

.gallery-card {
  justify-content: center;
  position: relative;
  background-image: url(img/Repeating_Geo_Rhombus.jpg);
  border-radius: 2rem;
  width: 26%;
  height: 45rem;
  margin: 4.5rem auto;
  transition: all 0.6s;
}

.card-header {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  font-weight: 500;
  background-color: rgb(223, 213, 201);
  height: 4rem;
  text-align: center;
  border-radius: 2rem;
  margin: 1rem;
}
.card-img {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 75%;
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.card-text {
  position: absolute;
  background-color: rgb(157, 154, 197);
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  word-wrap: break-word;
  padding: 0.5rem;
  width: 90%;
  height: auto;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 37.5%;
  visibility: hidden;
}

.crown-loading {
  width: 18%;
  height: auto;
}

.crown1 {
  animation: 8s ease-out 0s 1 crown1-loading;
}

.crown2 {
  animation: 8s ease-out 0s 1 crown2-loading;
}

.crown3 {
  animation: 8s ease-out 0s 1 crown3-loading;
}

.crown4 {
  animation: 8s ease-out 0s 1 crown4-loading;
}

.crown5 {
  animation: 8s ease-out 0s 1 crown5-loading;
}

.mona-lisa-card:hover,
.the-sphinx-card:hover {
  transform: scale(1.25);
  box-shadow: -5px 10px;
}

.eiffel-tower-card:hover,
.starry-night-card:hover {
  transform: rotate(20deg);
  box-shadow: -5px 10px;
}

.trojan-horse-card:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 10px;
}

.christ-the-redeemer-card:hover,
.palace-of-versailles-card:hover {
  transform: skewX(-10deg);
  box-shadow: -5px 10px;
}

.uss-enterprise-card:hover,
.paper-airplane-card:hover {
  transform: rotateX(180deg);
  box-shadow: -5px 10px;
}

/* Laptop Screen Acer Chromebook 1366 x 768 */
@media (max-width: 1366px) and (orientation: portrait) {
  .site-title {
    font-size: 5rem;
  }
  .gallery-card {
    width: 28%;
    height: 50rem;
    margin: 2rem;
  }
  .card-header {
    font-size: 3.5rem;
  }
  .card-img {
    margin-bottom: 3rem;
  }
  .card-text {
    height: auto;
    font-size: 2.98rem;
  }
}

/* Ipad  768 x 1024 */
@media (max-width: 768px) and (orientation: portrait) {
  .site-title {
    font-size: 4rem;
  }
  .gallery-card {
    width: 40%;
    height: 45rem;
    margin: 2rem;
  }
  .card-header {
    font-size: 3rem;
  }
  .card-text {
    height: auto;
    font-size: 2.5rem;
  }
}

/* Iphone 12  390 x 844 */
@media (max-width: 390px) and (orientation: portrait) {
  .site-title {
    font-size: 3rem;
  }
  .gallery-card {
    width: 80%;
    height: 45rem;
    margin: 2rem;
  }
  .card-header {
    font-size: 2.5rem;
  }
  .card-text {
    height: auto;
    font-size: 2.5rem;
  }
}
