html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.gallery_picture {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 10rem;
}

.gallery_row {
  background-color: blue;
}
